
/* CSS Language Selector */

/* All Character */
/*
	@font-face { 
		font-family: FontSwitcher;
		src: url('font');
	}
*/

/* All Thai Character (unicode-range: U+0E00-U+0E7F) */
/*
	@font-face {
		font-family: FontSwitcher;
		src: url('font');
		unicode-range: U+0E00-U+0E7F;
	}
*/
