.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.v-center{
   display: flex;
   align-content: center;
   vertical-align: middle;
}
/*
.h-center{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
*/


#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}