a{	
	text-decoration:none
}
button:focus {
	outline:0;
}

.table-condensed{
	width: 20rem;
    height: 5rem;
}
.icon-arrow-left{      
	border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    content: " < ";
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.icon-arrow-right{      
	border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    content: " < ";
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.infomationH{
  padding: 5px 1px 1px 1px;
  font-size: 1.5rem;
}

.infomationP{
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.none{
	background: transparent;
    border: none;
}

.management-container{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
.management-container  .header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	color:#000000;
}
.management-container  .content{
	width:100%;
	padding: 15px 15px 15px 5rem;
	border-radius: 0px 0px 0px 0px;
	background-color: #FFFFFF;
}

.sidenav_panel{
	position: absolute;
	bottom: 0;
	left: -20rem;
	width: 20rem;
	height: 100%;
	padding: 2rem 0 0 1rem;
	border-right: 1px solid #2C5364;
	background-color: #FFFFFF;
	z-index: 1040;	
}
.sidenav_panel.active{
	left: 0;
	transition: left .2s linear;
}
.out-panel_btn{
	text-align: center;
	font-size: 2.5rem;
	width:calc(30px + 4rem);
}
.out-panel_btn.active{
	background-color: RGBA(255,255,255,0.4);
}
.sidenav_panel>.panel_btn{
	position: absolute;
	top: 2rem;
	right: -30px;
	width: 30px;
	font-size: 18px;
	border-radius: 0px 4px 4px 0px;
	border: 1px solid #2C5364;
	color: #333333;
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	z-index: 1000;
}
.sidenav_panel.active .panel_btn{
	right: -15px;	
	border: none;
	transition: left .2s linear;
}
.sidenav_panel.active .panel_btn:after {
    content: "";
	position: absolute;
	right: 0;
	width: 50%;
    height: 100%;
	border-radius: 0px 4px 4px 0px;
	border: 1px solid #2C5364;
	border-left: none;
	z-index: 1000;
}
.sidenav_panel .side_content{
	padding-left: 1rem;
	font-size: 2rem;
	/*overflow-y: auto;*/
}
ul.sidelist li{
	padding-left: 0.5rem;
	margin-top: 1rem;
}
ul.sidelist a{
	color: #000000;
}
ul.sidelist a:hover{
	color: #0000EE;
	text-decoration:none;
}
ul.sidelist i{
	margin-right:0.5rem;
}
.has-sub {
    position: relative;
}
li.has-sub .sidelist{
    display: none;
    padding-left: 34px;
}
li.has-sub .sidelist li a{
    padding: 11.5px 0;
}
li.has-sub.show .sidelist{
	display:block;
	-webkit-animation: slide-bottom 0.5s both;
	        animation: slide-bottom 0.5s both;
}

ul.inline{
	margin: 0;
	padding: 0;
}
ul,ul.inline > li{
    display: inline;
}

ul.seperate_bd > li{
	border-left: 1px solid #000000;
	padding-left: 0.5rem;
}
ul.seperate_bd > li:first-child{
	border-left: none;
}
ul.seperate_box li{
	background-color: #C8C8C8;
	padding:10px 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
ul.seperate_box .sub{
	background-color: #969696;
	padding:5px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
ul.nobullet {
	list-style-type: none;
}
ul.nobullet button{
	font-size: 1.5rem;
	font-weight: 500;
	padding: 5px 10px 5px 10px;
	color: #000000;
	background-color: transparent;
	border: none;
}
ul.nobullet li{
	border-bottom:1px solid #eaeaea;
}
ul.nobullet li:first-child {
	border-top:1px solid #eaeaea;
}


@-webkit-keyframes slide-bottom {
  0% {
  	opacity:0%;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
  	opacity:0%;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.ac_icon{
	width:24px;
	height:24px;
}
.fz_icon{
	height:30px !important;
}
.fz_f_icon{
	height:12px !important;
}
.r_icon{
	height:30px !important;
}
.r_f_icon{
	height:24px !important;
}
.box_icon{
	height:18px !important;
}

.boxwell{
	color: #212529;
}
.boxwell.active{
	background-color: #ffc107;
	color: #212529;
}

.btn-warp {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-warp:disabled,
.btn-warp[disabled]{
    border-color: #c0c0c0 !important;
	background-color: #e0e0e0 !important;
	color:#000000 !important;	
}
.btn-warp:disabled,
.btn-warp[disabled]:hover{
    border-color: #c0c0c0 !important;
	background-color: #e0e0e0 !important;
	color:#000000 !important;
}