/* -- Responsive -- */
	@media (orientation: landscape) {
	  :root{
	    --text-scale-unit: 1vh;
	  }
	}
	@media (orientation: portrait) {
	  :root {
	    --text-scale-unit: 1vw;
	  }
	}

	html{
		font-size: calc(var(--text-scale-unit) * 1.3);
	}

	@media only screen and (min-width: 960px) {	    
		/* styles for browsers larger than 960px; */
		html{
			font-size: calc(var(--text-scale-unit) * 1.3);
		}
	}
	
	@media only screen and (min-width: 1366px) {	    
		/* styles for browsers larger than 1366px; */
		html{
			font-size: calc(var(--text-scale-unit) * 1.5);
		}
	}	

	@media only screen and (min-width: 1440px) {	    
		/* styles for browsers larger than 1440px; */
		html{
			font-size: calc(var(--text-scale-unit) * 1.5);
		}
	}

	@media only screen and (min-width: 2000px) {	    
		/* styles for browsers larger than 2000px; */
		html{
			font-size: calc(var(--text-scale-unit) * 1.5);
		}
	}

	@media only screen and (max-device-width: 480px) {	    
		/* styles for mobile browsers smaller than 480px; (iPhone) */
		html{
			font-size: calc(var(--text-scale-unit) * 1);
		}
	}

	/* default iPad screens */
	@media only screen and (device-width: 768px) {
	   
		html{
			font-size: calc(var(--text-scale-unit) * 1);
		}
	}

	/* different techniques for iPad screening */
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
		/* For portrait layouts only */
		html{
			font-size: calc(var(--text-scale-unit) * 1);
		}
	}

	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
		/* For landscape layouts only */
		html{
			font-size: calc(var(--text-scale-unit) * 1);
		}
	}

	.size-lg {
		font-size: calc(var(--text-scale-unit) * 15);
	}
	.size-md {
		font-size: calc(var(--text-scale-unit) * 10);
	}
	.size-sm {
		font-size: calc(var(--text-scale-unit) * 5);
	}
	.size-xs {
		font-size: calc(var(--text-scale-unit) * 2);
	}
/* -- Responsive -- */